#nav {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	position: relative;
}
#nav li { 
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}
#nav a { 
	display: block;
}
#nav ul { 
	display: none;
	position: absolute;
	left: 0;
	margin: 0;
	padding: 0;
}
* html #nav ul {line-height: 0;} /* IE6 "fix" */
#nav ul a { zoom: 1; } /* IE6/7 fix */
#nav ul li { float: none; }
#nav ul ul { top: 0px; }
    
#nav ul { width: 190px; }
#nav ul ul { left: 131px; }

#nav *:hover { background-color: none; color:#00bdff;}
#nav a {
	/*border-right: 1px solid white;*/
	text-decoration:none;
	color: white;
	font-size: 1em;
	padding: 3px 9px 3px 9px;
	margin-bottom: -1px;
}
#nav li.hover a { background-image: url(menu_active.jpg);/*background-color: #144d5c;*/}
#nav ul { top: 25px; }
#nav ul li a { background-color: #144d5c; }
#nav ul a.hover { background-color: #0e2f38; }
#nav ul a { 
	border: 1px solid #0e2f38;
	opacity: 0.95;
	filter: alpha(opacity=90);
}